<footer class="main-footer">
    <div class="row row-centered text-center">
        <div class="col-xs-12 col-sm-6">
            <strong><a href="https://pi-hole.net/donate/" rel="noopener" target="_blank"><i
                            class="fa fa-heart text-red"></i> Donate</a></strong> if you found this useful.
        </div>
    </div>

    <div class="row row-centered text-center version-info">
        <div class="col-xs-12 col-sm-12 col-md-10">
            <ul class="list-inline">
                {% if DockerVersion %}
                    <li>
                        <strong>Docker Tag</strong>
                        {{ DockerVersion }}
                        {% if DockerUpdate %}
                            <a class="lookatme" lookatme-text="Update available!" href="{{ DockerURL }}/latest"
                                        rel="noopener" target="_blank">Update available!</a>
                        {% endif %}
                    </li>
                {% endif %}
                <li>
                    <strong>Pi-hole</strong>
                    <a href="https://github.com/pi-hole/pi-hole/releases/{{ CoreVersion }}" rel="noopener" target="_blank">
                        {{ CoreVersion }}
                    </a>
                    {% if CoreUpdate %}
                        <a class="lookatme" lookatme-text="Update available!" href="{{ CoreURL }}/latest'; ?>"
                                    rel="noopener" target="_blank">Update available!</a>
                    {% endif %}
                </li>
                <li>
                    <strong>FTL</strong>
                    <a href="https://github.com/pi-hole/FTL/releases/{{ FTLVersion }}" rel="noopener" target="_blank">
                        {{ FTLVersion }}
                    </a>
                    {% if FTLUpdate %}
                        <a class="lookatme" lookatme-text="Update available!" href="{{ FTLURL }}/latest'; ?>"
                                    rel="noopener" target="_blank">Update available!</a>
                    {% endif %}
                </li>
                <li>
                    <strong>Web Interface</strong>
                    <a href="https://github.com/firesphere/pihole-admin/" rel="noopener" target="_blank">
                        {{ CoreVersion }}
                    </a>
                    {% if WebUpdate %}
                        <a class="lookatme" lookatme-text="Update available!" href="{{ WebURL }}/latest'; ?>"
                                    rel="noopener" target="_blank">Update available!</a>
                    {% endif %}
                </li>
            </ul>

            <p style="margin: 15px 0 0;">
                {% if DockerUpdate %}
                    To install updates, <a
                        href="https://github.com/pi-hole/docker-pi-hole#upgrading-persistence-and-customizations"
                        rel="noopener" target="_blank">replace this old container with a fresh upgraded image</a>.
                {% elseif CoreUpdate or WebUpdate or FTLUpdate %}
                    To install updates, run
                    <code>
                        <a href="https://docs.pi-hole.net/main/update/" rel="noopener" target="_blank">pihole -up</a>
                    </code>.
                {% endif %}
            </p>
        </div>
    </div>
</footer>