<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="img/logo.svg" alt="Pi-hole logo">
            </div>
            <div class="pull-left info">
                <p>Status</p>
                <span id="status">
                    <i class="fa fa-w fa-circle
                        {% if PiHoleStatus == 53 %}text-green-light{% elseif PiHoleStatus > 0 %}text-orange{% else %}text-red{% endif %}
                    "></i>
                    {% if PiHoleStatus == 53 %}
                        Active
                    {% elseif PiHoleStatus == 0 %}
                        Blocking disabled
                    {% elseif PiHoleStatus == -1 %}
                        DNS Service not running
                    {% elseif PiHoleStatus == -2 %}
                        Status unknown
                    {% else %}
                        DNS Service on port {{ PiHoleStatus }}
                    {% endif %}
                </span>
                <br/>
                <span title="Detected {{ CPUCount }} cores">
                    <i class="fa fa-w fa-circle text-green-light"></i>
                    Load:&nbsp;&nbsp;{{ Load0 }}&nbsp;&nbsp;{{ Load1 }}&nbsp;&nbsp;{{ Load2 }}
                </span>
                <br/>
                <span><i class="fa fa-w fa-circle {% if MemUse > 0.75 %}text-red{% else %}text-green-light{% endif %}"></i> Memory usage:&nbsp;&nbsp;{{ MemUse * 100 }}&thinsp;%</span>
                <br/>
                {% if Temperature %}
                    <span id="temperature">
                        <i class="fa fa-w fa-fire {% if Temperature > 60 %}text-red{% else %}text-vivid-blue{% endif %}"
                           style="width: 1em !important"></i>
                        Temp:&nbsp;<span id="rawtemp" hidden>{{ Temperature }}</span>
                        <span id="tempdisplay">{{ Temperature }}</span>
                </span>
                {% endif %}
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            {% for Key, Items in Menu %}
                {% include('Partials/MenuItem.twig') %}
            {% endfor %}
            <li class="header text-uppercase">Donate</li>
            <li class="menu-donate">
                <a href="https://pi-hole.net/donate/" target="_blank">
                    <i class="fas fa-fw menu-icon fa-donate"></i> <span>Donate</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
