<div class="col-md-6 col-lg-4">
    <div class="box" id="{{ id }}">
        <div class="box-header with-border">
            <h3 class="box-title">{{ title }}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ th1 }}</th>
                        <th>{{ th2 }}</th>
                        <th>{{ th3 }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="overlay" hidden>
            <i class="fa fa-sync fa-spin"></i>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>