<input type="radio" name="privacylevel" id="privacylevel_{{ Key }}"
       value="{{ Key }}" {% if Data.Selected %}checked{% endif %}>
<label for="privacylevel_{{ Key }}"><strong>{{ Data.Label }}</strong></label>
<p>{{ Data.Note }}</p>
