<div class="box-header with-border">
    <h3 class="box-title">
        {{ Title }}
    </h3>
</div>
<!-- /.box-header -->
<div class="box-body">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="origin">{{ Origin }}:</label>
            <input id="origin" type="url" class="form-control"
                   placeholder="{{ OriginPlaceholder }}" autocomplete="off"
                   spellcheck="false" autocapitalize="none" autocorrect="off">
        </div>
        <div class="form-group col-md-6">
            <label for="target">{{ Target }}:</label>
            <input id="target" type="text" class="form-control" placeholder="{{ TargetPlaceholder }}"
                   autocomplete="off" spellcheck="false" autocapitalize="none" autocorrect="off">
        </div>
    </div>
</div>