<form role="form" method="post">
    <div class="row">
        <!-- DHCP Settings Box -->
        <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">DHCP Settings</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div><input type="checkbox" name="active" id="DHCPchk"
                                        {% if Active %}checked{% endif %}>
                                <label for="DHCPchk">
                                    <strong>DHCP server enabled</strong>
                                </label>
                            </div>
                            <br>
                            <p id="dhcpnotice"
                               lookatme-text="Make sure your router's DHCP server is disabled when using the Pi-hole DHCP server!"
                               {% if Active %}hidden{% endif %}>
                                Make sure your router's DHCP server is disabled when using the Pi-hole DHCP server!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Range of IP addresses to hand out</label>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="from" class="input-group-addon">From</label>
                                    <input type="text" class="form-control DHCPgroup" name="from"
                                           autocomplete="off" spellcheck="false" autocapitalize="none"
                                           autocorrect="off" value="{{ Start }}"
                                           {% if not Active %}disabled{% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="to" class="input-group-addon">To</label>
                                    <input type="text" class="form-control DHCPgroup" name="to"
                                           autocomplete="off" spellcheck="false" autocapitalize="none"
                                           autocorrect="off" value="{{ End }}"
                                           {% if not Active %}disabled{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Router (gateway) IP address</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="router" class="input-group-addon">Router</label>
                                    <input type="text" class="form-control DHCPgroup" name="router"
                                           autocomplete="off" spellcheck="false" autocapitalize="none"
                                           autocorrect="off" value="{{ Router }}"
                                           {% if not Active %}disabled{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Advanced DHCP Settings Box -->
        <div class="col-md-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Advanced DHCP settings</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Pi-hole domain name</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="domain" class="input-group-addon">Domain</label>
                                    <input type="text" class="form-control DHCPgroup" name="domain"
                                           value="{{ Domain }}"
                                           {% if not Active %}disabled{% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>DHCP lease time</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="leasetime" class="input-group-addon">Lease time in hours</label>
                                    <input type="number" class="form-control DHCPgroup"
                                           name="leasetime"
                                           id="leasetime" value="{% if Active %}{{ Lease }}{% endif %}"
                                           data-mask {% if not Active %}disabled{% endif %}>
                                </div>
                            </div>
                            <p>Hint: 0 = infinite, 24 = one day, 168 = one week, 744 = one month, 8760 = one year</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div><input type="checkbox" name="DHCP_rapid_commit" id="DHCP_rapid_commit"
                                        class="DHCPgroup" {{ DHCPRapidCommit }}
                                        {% if not Active %}disabled{% endif %}>
                                &nbsp;<label for="DHCP_rapid_commit"><strong>Enable DHCPv4 rapid commit (fast address assignment)</strong></label>
                            </div>
                            <div>
                                <input type="checkbox" name="useIPv6" id="useIPv6" class="DHCPgroup"
                                       {% if IPv6 %}checked{% endif %}
                                        {% if not Active %}disabled{% endif %}>
                                &nbsp;<label for="useIPv6"><strong>Enable IPv6 support (SLAAC + RA)</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DHCP Leases Box -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Currently active DHCP leases</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="DHCPLeasesTable" class="table table-striped table-bordered nowrap" width="100%">
                                <thead>
                                <tr>
                                    <th>MAC address</th>
                                    <th>IP address</th>
                                    <th>Hostname</th>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Lease in DynamicLeases %}
                                <tr data-placement="auto" data-container="body" data-toggle="tooltip"
                                    title="Lease type: IPv{{ type }}<br/>
                                    Remaining lease time: {{ time }}<br/>
                                    DHCP UID: {{ clid }}">
                                    <td id="MAC">{{ hwaddr }}</td>
                                    <td id="IP"
                                        data-order="{{ order }}">{{ IP }}</td>
                                    <td id="HOST">{{ host }}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs" id="removedynamic">
                                            <span class="fas fas fa-trash-alt"></span>
                                        </button>
                                        <button type="button" id="button" class="btn btn-warning btn-xs"
                                                data-static="alert">
                                            <span class="fas fas fa-file-import"></span>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Static DHCP leases configuration</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="DHCPStaticLeasesTable" class="table table-striped table-bordered nowrap"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>MAC address</th>
                                    <th>IP address</th>
                                    <th>Hostname</th>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Lease in StaticLeases %}
                                <tr>
                                    <td>{{ hwaddr }}</td>
                                    <td data-order="{{ order }}">{{ ip }}</td>
                                    <td>{{ ip }}</td>
                                    <td>{% if hwaddr %}<
                                        <button type="submit" class="btn btn-danger btn-xs" name="removestatic"
                                                value="{{ hwaddr }}">
                                            <span class="far fa-trash-alt"></span>
                                        </button>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot style="display: table-row-group">
                                <tr>
                                    <td><input type="text" class="form-group" name="AddMAC" autocomplete="off"
                                               spellcheck="false" autocapitalize="none" autocorrect="off"></td>
                                    <td><input type="text" class="form-group" name="AddIP" autocomplete="off"
                                               spellcheck="false" autocapitalize="none" autocorrect="off"></td>
                                    <td><input type="text" class="form-group" name="AddHostname" value=""
                                               autocomplete="off" spellcheck="false" autocapitalize="none"
                                               autocorrect="off"></td>
                                    <td>
                                        <button type="submit" class="btn btn-success btn-xs" name="addstatic">
                                            <span class="fas fa-plus"></span>
                                        </button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <p>Specifying the MAC address is mandatory and only one entry per MAC
                                address is allowed. If the IP address is omitted and a host name is
                                given, the IP address will still be generated dynamically and the
                                specified host name will be used. If the host name is omitted, only
                                a static lease will be added.</p>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="field" value="DHCP">
            <input type="hidden" name="token" value="">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</form>