<form role="form" method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h1 class="box-title">Upstream DNS Servers</h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th colspan="2">IPv4</th>
                                    <th colspan="2">IPv6</th>
                                    <th>Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Key, Value in DNS.Servers %}
                                    <tr>
                                        {% if Value.v4_1 %}
                                            <td title="{{ Value.v4_1 }}">
                                                <div><input type="checkbox" name="DNSserver{{ Value.v4_1 }}"
                                                            id="DNS4server{{ Value.v4_1 }}"
                                                            value="true"
                                                            {% if Value.v4_1 in DNS.ActiveServers %}checked{% endif %}><label
                                                            for="DNS4server{{ Value.v4_1 }}"></label></div>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if Value.v4_2 %}
                                            <td title="{{ Value.v4_2 }}">
                                                <div><input type="checkbox" name="DNSserver{{ Value.v4_2 }}"
                                                            id="DNS4server{{ Value.v4_2 }}"
                                                            value="true"
                                                            {% if Value.v4_2 in DNS.ActiveServers %}checked{% endif %}><label
                                                            for="DNS4server{{ Value.v4_2 }}"></label></div>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if Value.v6_1 %}
                                            <td title="{{ Value.v6_1 }}">
                                                <div><input type="checkbox" name="DNSserver{{ Value.v6_1 }}"
                                                            id="DNS6server{{ Value.v6_1 }}"
                                                            value="true"
                                                            {% if Value.v6_1 in DNS.ActiveServers %}checked{% endif %}><label
                                                            for="DNS6server{{ Value.v6_1 }}"></label></div>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if Value.v6_2 %}
                                            <td title="{{ Value.v6_2 }}">
                                                <div><input type="checkbox" name="DNSserver{{ Value.v6_2 }}"
                                                            id="DNS6server{{ Value.v6_2 }}"
                                                            value="true"
                                                            {% if Value.v6_2 in DNS.ActiveServers %}checked{% endif %}><label
                                                            for="DNS6server{{ Value.v6_2 }}"></label></div>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td>{{ Key }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p>ECS (Extended Client Subnet) defines a mechanism for recursive resolvers to send partial
                                client IP address information to authoritative DNS name servers. Content Delivery
                                Networks (CDNs) and latency-sensitive services use this to give geolocated responses
                                when responding to name lookups coming through public DNS resolvers. <em>Note that ECS
                                    may result in reduced privacy.</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h1 class="box-title">Upstream DNS Servers</h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Custom 1 (IPv4)</strong>
                            <div class="row">
                                <div class="col-md-1">
                                    <div>
                                        <input type="checkbox" name="custom1" id="custom1"
                                               value="Customv4" {% if DNS.CustomServers.4.1 %}checked{% endif %}>
                                        <label for="custom1"></label></div>
                                </div>
                                <div class="col-md-11">
                                    <input type="text" name="custom1val" class="form-control" autocomplete="off"
                                           spellcheck="false" autocapitalize="none" autocorrect="off"
                                           value="{{ DNS.CustomServers.4.1 }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <strong>Custom 2 (IPv4)</strong>
                            <div class="row">
                                <div class="col-md-1">
                                    <div>
                                        <input type="checkbox" name="custom1" id="custom1"
                                               value="Customv4" {% if DNS.CustomServers.4.2 %}checked{% endif %}>
                                        <label for="custom1"></label></div>
                                </div>
                                <div class="col-md-11">
                                    <input type="text" name="custom1val" class="form-control" autocomplete="off"
                                           spellcheck="false" autocapitalize="none" autocorrect="off"
                                           value="{{ DNS.CustomServers.4.2 }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Custom 1 (IPv6)</strong>
                            <div class="row">
                                <div class="col-md-1">
                                    <div>
                                        <input type="checkbox" name="custom1" id="custom1"
                                               value="Customv6" {% if DNS.CustomServers.6.1 %}checked{% endif %}>
                                        <label for="custom1"></label></div>
                                </div>
                                <div class="col-md-11">
                                    <input type="text" name="custom1val" class="form-control" autocomplete="off"
                                           spellcheck="false" autocapitalize="none" autocorrect="off"
                                           value="{{ DNS.CustomServers.6.1 }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <strong>Custom 2 (IPv6)</strong>
                            <div class="row">
                                <div class="col-md-1">
                                    <div>
                                        <input type="checkbox" name="custom1" id="custom1"
                                               value="Customv6" {% if DNS.CustomServers.6.2 %}checked{% endif %}>
                                        <label for="custom1"></label></div>
                                </div>
                                <div class="col-md-11">
                                    <input type="text" name="custom1val" class="form-control" autocomplete="off"
                                           spellcheck="false" autocapitalize="none" autocorrect="off"
                                           value="{{ DNS.CustomServers.6.2 }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h1 class="box-title">Interface settings</h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="no-danger-area">
                                    <h4>Recommended setting</h4>
                                    <div>
                                        <input type="radio" name="DNSinterface" id="DNSinterface1" value="local"
                                               {% if DNS.DNSMasq == 'local' %}checked{% endif %}>
                                        <label for="DNSinterface1"><strong>Allow only local requests</strong><br>Allows
                                            only queries from devices that are at most one hop away (local
                                            devices)</label>
                                    </div>
                                </div>
                                <div class="danger-area">
                                    <h4>Potentially dangerous options</h4>Make sure your Pi-hole is properly firewalled!
                                    <div>
                                        <input type="radio" name="DNSinterface" id="DNSinterface2" value="single"
                                               {% if DNS.DNSMasq == 'single' %}checked{% endif %}>
                                        <label for="DNSinterface2"><strong>Respond only on
                                                interface {{ DNS.Interface }}</strong></label>
                                    </div>
                                    <div>
                                        <input type="radio" name="DNSinterface" id="DNSinterface3" value="bind"
                                               {% if DNS.DNSMasq == 'bind' %}checked{% endif %}>
                                        <label for="DNSinterface3"><strong>Bind only to
                                                interface {{ DNS.Interface }}</strong></label>
                                    </div>
                                    <div>
                                        <input type="radio" name="DNSinterface" id="DNSinterface4" value="all"
                                               {% if DNS.DNSMasq == 'all' %}checked{% endif %}>
                                        <label for="DNSinterface4"><strong>Permit all origins</strong></label>
                                    </div>
                                    <p>These options are dangerous on devices
                                        directly connected to the Internet such as cloud instances and are only safe if
                                        your
                                        Pi-hole is properly firewalled. In a typical at-home setup where your Pi-hole is
                                        located within your local network (and you have <strong>not</strong> forwarded
                                        port 53
                                        in your router!) they are safe to use.</p>
                                </div>
                            </div>
                            <p>See <a href="https://docs.pi-hole.net/ftldns/interfaces/" target="_blank">our
                                    documentation</a> for further technical details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Advanced DNS settings</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <input type="checkbox" name="DNSrequiresFQDN" id="DNSrequiresFQDN"
                                       title="domain-needed" {% if DNS.RequireFQDN %}checked{% endif %}>
                                <label for="DNSrequiresFQDN"><strong>Never forward non-FQDN <code>A</code> and <code>AAAA</code>
                                        queries</strong></label>
                                <p>When there is a Pi-hole domain set and this box is
                                    ticked, this asks FTL that this domain is purely
                                    local and FTL may answer queries from <code>/etc/hosts</code> or DHCP leases
                                    but should never forward queries on that domain to any upstream servers.
                                    If Conditional Forwarding is enabled, unticking this box may cause a partial
                                    DNS loop under certain circumstances (e.g. if a client would send TLD DNSSEC
                                    queries).</p>
                            </div>
                            <div>
                                <input type="checkbox" name="DNSbogusPriv" id="DNSbogusPriv"
                                       title="bogus-priv" {% if DNS.BogusPriv %}checked{% endif %}>
                                <label for="DNSbogusPriv"><strong>Never forward reverse lookups for private IP
                                        ranges</strong></label>
                                <p>All reverse lookups for private IP ranges (i.e., <code>192.168.0.x/24</code>, etc.)
                                    which are not found in <code>/etc/hosts</code> or the DHCP leases are answered
                                    with "no such domain" rather than being forwarded upstream. The set
                                    of prefixes affected is the list given in <a
                                            href="https://tools.ietf.org/html/rfc6303">RFC6303</a>.</p>
                                <p><strong>Important</strong>: Enabling these two options may increase your privacy,
                                    but may also prevent you from being able to access
                                    local hostnames if the Pi-hole is not used as DHCP server.</p>
                            </div>
                            <br>
                            <div>
                                <input type="checkbox" name="DNSSEC" id="DNSSEC" {% if DNSSec %}checked{% endif %}>
                                <label for="DNSSEC"><strong>Use DNSSEC</strong></label>
                                <p>Validate DNS replies and cache DNSSEC data. When forwarding DNS
                                    queries, Pi-hole requests the DNSSEC records needed to validate
                                    the replies. If a domain fails validation or the upstream does not
                                    support DNSSEC, this setting can cause issues resolving domains.
                                    Use an upstream DNS server which supports DNSSEC when activating DNSSEC. Note that
                                    the size of your log might increase significantly
                                    when enabling DNSSEC. A DNSSEC resolver test can be found
                                    <a href="https://dnssec.vs.uni-due.de/" rel="noopener" target="_blank">here</a>.</p>
                            </div>
                            <br>
                            <h4><a id="ratelimit"></a>Rate-limiting</h4>
                            <p>Block clients making more than
                                <input type="number" name="rate_limit_count"
                                       value="{{ DNS.Ratelimit }}" min="0"
                                       step="10" style="width: 5em;"> queries within
                                <input type="number" name="rate_limit_interval"
                                       value="{{ DNS.Ratelimitinterval }}" min="0" step="10"
                                       style="width: 4em;"> seconds.</p>
                            <p>When a client makes too many queries in too short time, it
                                gets rate-limited. Rate-limited queries are answered with a
                                <code>REFUSED</code> reply and not further processed by FTL
                                and prevent Pi-holes getting overwhelmed by rogue clients.
                                It is important to note that rate-limiting is happening on a
                                per-client basis. Other clients can continue to use FTL while
                                rate-limited clients are short-circuited at the same time.</p>
                            <p>Rate-limiting may be disabled altogether by setting both
                                values to zero. See
                                <a href="https://docs.pi-hole.net/ftldns/configfile/#rate_limit" target="_blank">our
                                    documentation</a>
                                for further details.</p>
                            <br>
                            <h4>Conditional forwarding</h4>
                            <p>If not configured as your DHCP server, Pi-hole typically won't be able to
                                determine the names of devices on your local network. As a
                                result, tables such as Top Clients will only show IP addresses.</p>
                            <p>One solution for this is to configure Pi-hole to forward these
                                requests to your DHCP server (most likely your router), but only for devices on your
                                home network. To configure this we will need to know the IP
                                address of your DHCP server and which addresses belong to your local network.
                                Exemplary input is given below as placeholder in the text boxes (if empty).</p>
                            <p>If your local network spans 192.168.0.1 - 192.168.0.255, then you will have to input
                                <code>192.168.0.0/24</code>. If your local network is 192.168.47.1 - 192.168.47.255, it
                                will
                                be <code>192.168.47.0/24</code> and similar. If your network is larger, the CIDR has to
                                be
                                different, for instance a range of 10.8.0.1 - 10.8.255.255 results in
                                <code>10.8.0.0/16</code>,
                                whereas an even wider network of 10.0.0.1 - 10.255.255.255 results in
                                <code>10.0.0.0/8</code>.
                                Setting up IPv6 ranges is exactly similar to setting up IPv4 here and fully supported.
                                Feel free to reach out to us on our
                                <a href="https://discourse.pi-hole.net" rel="noopener" target="_blank">Discourse
                                    forum</a>
                                in case you need any assistance setting up local host name resolution for your
                                particular system.</p>
                            <p>You can also specify a local domain name (like <code>fritz.box</code>) to ensure queries
                                to
                                devices ending in your local domain name will not leave your network, however, this is
                                optional.
                                The local domain name must match the domain name specified
                                in your DHCP server for this to work. You can likely find it within the DHCP settings.
                            </p>
                            <p>Enabling Conditional Forwarding will also forward all hostnames (i.e., non-FQDNs) to the
                                router
                                when "Never forward non-FQDNs" is <em>not</em> enabled.</p>
                            <div class="form-group">
                                <div>
                                    <input type="checkbox" name="rev_server" id="rev_server"
                                           value="rev_server" {% if RevServer %}checked{% endif %}>
                                    <label for="rev_server"><strong>Use Conditional Forwarding</strong></label>
                                </div>
                                <div class="input-group">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th><label for="RevServerCIDR">Local network in <a
                                                            href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing"
                                                            target="_blank">CIDR notation</a></label></th>
                                            <th><label for="RevServerTarget">IP address of your DHCP server (router)</label></th>
                                            <th><label for="RevServerDomain">Local domain name (optional)</label></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <input id="RevServerCIDR" type="text" name="rev_server_cidr"
                                                       placeholder="192.168.0.0/16"
                                                       class="form-control" autocomplete="off" spellcheck="false"
                                                       autocapitalize="none" autocorrect="off"
                                                       value="{{ RevServerCIDR }}"
                                                       {% if not RevServer %}disabled{% endif %}>
                                            </td>
                                            <td>
                                                <input id="RevServerTarget" type="text" name="rev_server_target" placeholder="192.168.0.1"
                                                       class="form-control" autocomplete="off" spellcheck="false"
                                                       autocapitalize="none" autocorrect="off"
                                                       value="{{ RevServerTarget }}"
                                                       {% if not RevServer %}disabled{% endif %}>
                                            </td>
                                            <td>
                                                <input id="RevServerDomain" type="text" name="rev_server_domain" placeholder="local"
                                                       class="form-control" data-mask autocomplete="off"
                                                       spellcheck="false" autocapitalize="none" autocorrect="off"
                                                       value="{{ RevServerDomain }}"
                                                       {% if not RevServer %}disabled{% endif %}>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="field" value="DNS">
            <input type="hidden" name="token" value="<?php echo $token; ?>">
            <button type="submit" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</form>
